body{
   margin: 0; 
   padding: 0;
   font-family:  Arial, Helvetica, sans-serif;
   background-color: #ecf0f1;
   ;

}

ul,h1{
    padding:0;
    margin:0;
}

h1 span{
    color: #d35400;
}

header{
    background-color: #2c3e50;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 4px solid #d35400;
    
}

.space-between{
    display: flex;
    justify-content: space-between;
}

.container{
    width: 80%;
    margin: 0 auto;
}

ul{
    list-style: none;
    display: flex;
    width: 200px;
    justify-content: space-between;    
}

nav{
    margin-top: 10px;
}


li a{
    color: white;
    text-decoration: none;
    
}

li a:hover{
    color:#bdc3c7;
    font-weight: bold;
}

.active{
    color: #d35400;
    font-weight: bold;
}

#banner{
    background: url('../img/showcase.jpg');
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ecf0f1;
}

#banner h1{
    font-size: 45px;
}

.news {
    background-color: #2c3e50;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
}

.news ul {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.email {
    height: 30px;
}

.subscribe {
    background-color: #d35400;
    height: 39px;
}

.news h1 {
    margin-top: 7px;
}

.sec {
    display: flex;
    align-items: center;
}

.sec ul {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.sec li {
    text-align: center;

}
footer{
    height: 30px;
    background-color: #2c3e50;
    color: #ecf0f1;
   display: flex;
   align-items: center;
}
footer p{
    margin-left: 50px;
}

